#
# Copyright (c) 2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
name: CI

on:
  push:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-18.04
    env:
      IMAGE_FULL: quay.io/che-incubator/dash-licenses:next

    steps:
      -
        name: "Checkout license-tool source code"
        uses: actions/checkout@v2
      -
        name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v1
      -
        name: "Docker quay.io Login"
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_CHE_INCUBATOR_USERNAME }}
          password: ${{ secrets.QUAY_CHE_INCUBATOR_PASSWORD }}
      -
        name: "Build and push"
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ env.IMAGE_FULL }}
